.carousel-img-1 {
    height: 400px;
    object-fit: cover;
    object-position: 0% 80%;
}

.carousel-img-2 {
    height: 400px;
    object-fit: cover;
}

.font-title {
    font-family: 'Pacifico', cursive;
}

.special-color {
    color: darkred;
}

#tittle-nav-color {
    color: darkred;
}

.special-color-btn {
    background-color: darkred;
    color: white;
}

.special-color-border {
    border-color: darkred;
}

.border-img {
    border: 1px solid darkred;  
}

.card-position-img {
    object-fit: cover;
    height: 200px;
}

.card-img-width {
    width: 200px;
}

.card-width {
    max-width: 18rem;
}